@font-face {
    font-family: mySecondFont;
    src: url(../fonts/Lora-VariableFont_wght.ttf);
}
.aboutMain{
    font-family: mySecondFont;
    padding: 5%;
}
.aboutHeadding{
    color: rgb(107, 107, 107) !important;
    font-size:25px !important;
    font-family: myFirstFont;
}